# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
.ruff_cache/
.mypy_cache/
.pytype/
cython_debug/
